.main {
  /*  background: #303644; */
  /*  height: 100%; */
  display: flex;
  flex-direction: column;
  padding: 0px 170px;

  &__title {
    color: #ffffff;
    padding: 50px 0px 10px 00px;
    font-size: 2em;
    margin-top: 80px;
    font-family: "Merriweather Sans", sans-serif;
  }

  &__form {
    &-number {
      width: 25%;
      height: 50px;
      margin-right: 3%;
      font-size: 1em;
      padding: 10px;
      cursor: pointer;
    }

    &-type {
      width: 25%;
      height: 50px;
      margin-right: 3%;
      font-size: 1em;
      cursor: pointer;
    }

    &-difficulty {
      width: 25%;
      height: 50px;
      margin-right: 3%;
      font-size: 1em;
      cursor: pointer;
    }

    &-btn {
      color: #ffffff;
      width: 15.5%;
      height: 50px;
      cursor: pointer;
      background: #00b584;
      border-radius: 15px;
      font-size: 1em;
      margin-bottom: 20px;
      border: none;
    }
  }

  &__table {
    min-width: 50%;

    &__bold {
      font-weight: bold;
      font-size: 1em;
      color: #ffffff;
      background: #272727;
      text-align: left;

      &-item {
        padding: 5px 10px;

        &-id {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          &-span {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 5px;
          }
        }
      }
    }
  }
}

.fa-sort-up {
  color: #00b584;
  transform: translateY(7px) scale(1.2);
  cursor: pointer;
}

.fa-sort-down {
  color: #00b584;
  transform: translateY(-7px) scale(1.2);
  cursor: pointer;
}

/* color de los bordes #3d3c3c */
/* color de las preguntas #1a1a1a */

/* color verde 1 #00d79d */
/* color verde 2  #00b584*/

/* box background: #272727; */
/* main background: #303644; */
