.main {
  background: #303644;
  height: 93vh;
  display: flex;
  flex-direction: column;
  padding: 0 170px;

  &__title {
    color: #ffffff;
    padding: 50px 0px 10px 00px;
    font-size: 2em;
  }

  &__btn {
    color: #ffffff;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #00b584;
    border-radius: 15px;
    font-size: 1em;
    margin-bottom: 20px;
    border: none;
  }

  &__table {
    min-width: 50%;

    &__bold {
      font-weight: bold;
      font-size: 1em;
      color: #ffffff;
      background: #272727;

      &-item {
        padding: 5px 10px;

        &-id {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          &-span {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 5px;
          }
        }
      }
    }

    &__regular {
      font-size: 0.8em;
      color: #ffffff;
      background: #1a1a1a;

      &-item {
        padding: 5px 10px;
      }

      &-question {
        padding: 5px 50px 5px 10px;
      }

      &-author {
        color: #00b584;
        padding: 5px 10px;
      }
    }
  }
}

.fa-sort-up {
  color: #00b584;
  transform: translateY(7px) scale(1.2);
  cursor: pointer;

  &:hover {
    transform: translateY(7px) scale(2);
    padding-left: 5px;
  }
}

.fa-sort-down {
  color: #00b584;
  transform: translateY(-7px) scale(1.2);
  cursor: pointer;

  &:hover {
    transform: translateY(-5px) scale(2);
    padding: 0 0 2px 5px;
  }
}

/* color de los bordes #3d3c3c */
/* color de las preguntas #1a1a1a */

/* color verde 1 #00d79d */
/* color verde 2  #00b584*/

/* box background: #272727; */
/* main background: #303644; */
