/* .list {
  font-size: 0.8em;
  color: #ffffff;
  background: #1a1a1a;

  &-item {
    padding: 5px 10px;
  }

  &-question {
    padding: 5px 50px 5px 10px;
  }

  &-author {
    color: #00b584;
    padding: 5px 10px;
  }
} */

.table {
  min-width: 50%;
  border: 1px solid red;
  &__container {
    font-size: 0.8em;
    color: #ffffff;
    background: #1a1a1a;
    &-item {
      padding: 5px 10px;
    }

    &-question {
      padding: 5px 50px 5px 10px;
    }

    &-author {
      color: #00b584;
      padding: 5px 10px;
    }
  }
}
