.container {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  &-item {
    color: #ffffff;
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #00b584;

    &:hover {
      background: rgba(4, 185, 131, 0.774);
      opacity: 90%;
    }
  }
}

.selected {
  background: #00d79d;
}

.start {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.end {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
